@charset "utf-8";


#intro{display:block; width:900px; margin:5px 0 0 0; padding:30px; color:#666666; background-color:#F0F0F0; font-family:Georgia, "Times New Roman", Times, serif;}
#intro a{color:#C80000; background-color:#F0F0F0;}
#intro .fl_left{display:block; float:left; width:500px;}
#intro .fl_right{display:block; float:right; width:360px;}
#intro .fl_right h2, #intro .fl_right ul, #intro .fl_right p{margin:0; padding:0; list-style:none; line-height:normal;}
#intro .fl_right h2{font-size:42px; margin:15px 0;}
#intro .fl_right p{line-height:1.6em; font-size:16px;}
